<!DOCTYPE html>
<html>
<head>
  <title>Kiosk lock</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "pseudo_kiosk/application", media: "all" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="../../../assets/stylesheets/pseudo_kiosk/custom.css">
  <%= javascript_include_tag "pseudo_kiosk/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
