<!DOCTYPE html>
<html>
<head>
  <title>Kiosk lock</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "pseudo_kiosk/application", media: "all" %>
  <%= javascript_include_tag "pseudo_kiosk/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
