<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <title>Operator Unlock</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <%= stylesheet_link_tag "pseudo_kiosk/application", media: "all" %>

    <script>
      window.console = window.console || function(t) {};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
  </head>
  <body translate="no">
    <div class="unlock <%= params[:failed] && 'unlock--failed' %>">
      <div id="explanation_window" class="unlock__explanation-window">
        <h1 class="explanation-window__header">Thank you for your input!</h1>
        <h2 class="explanation-window__subheader">Please pass the device back to the operator</h2>
        <h1 class="explanation-window__unlock_instruction">Slide to Unlock</h1>
        <input type="range" value="0" class="explanation-window__pullee" />
      </div>

      <div id="pass_window" class="unlock__pass-window">
        <%= form_tag 'process_submit', authenticity_token: false do %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <h1 class="pass-window__passcode">Passcode:</h1>
          <div id="invalid" class="pass-window__invalid">Invalid Passcode! Please try again.</div>
          <div><input class="pass-window__input" type="password" name="passcode"></div>
          <div><input class="pass-window__submit" type="submit"></div>
        <% end %>
      </div>
    </div>

    <script id="rendered-js">
      var inputRange = document.getElementsByClassName('explanation-window__pullee')[0],
          maxValue = 150, // the higher the smoother when dragging
          speed = 12, // thanks to @pixelass for this
          currValue, rafID;

      // set min/max value
      inputRange.min = 0;
      inputRange.max = maxValue;

      // listen for unlock
      function unlockStartHandler() {
          // clear raf if trying again
          window.cancelAnimationFrame(rafID);
          
          // set to desired value
          currValue = +this.value;
      }

      function unlockEndHandler() {
          
          // store current value
          currValue = +this.value;
          
          // determine if we have reached success or not
          if(currValue >= maxValue) {
              successHandler();
          }
          else {
              rafID = window.requestAnimationFrame(animateHandler);
          }
      }

      // handle range animation
      function animateHandler() {
          
          // update input range
          inputRange.value = currValue;
          
          // determine if we need to continue
          if(currValue > -1) {
          	window.requestAnimationFrame(animateHandler);   
          }
          
          // decrement value
          currValue = currValue - speed;
      }

      // handle successful unlock
      function successHandler() {
                document.getElementById("pass_window").style.display = "block";
          document.getElementById("explanation_window").style.display = "none";
          
          // reset input range
          inputRange.value = 0;
      };

      // bind events
      inputRange.addEventListener('mousedown', unlockStartHandler, false);
      inputRange.addEventListener('mousestart', unlockStartHandler, false);
      inputRange.addEventListener('mouseup', unlockEndHandler, false);
      inputRange.addEventListener('touchend', unlockEndHandler, false);
    </script>
  </body>
</html>
